// Variables
$primary-dark: #0f2027;
$secondary-dark: #203a43;
$accent-mint: #00c9a7;
$text-light: #fdfdfd;
$sliding-text: #ffffff0a;

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, $primary-dark, $secondary-dark);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      position: relative;

      h2 {
        font-size: 30px;
        color: $accent-mint;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 88px;
        color: $text-light;
      }

      .buttons {
        display: flex;

        button {
          padding: 20px;
          border: 1px solid $text-light;
          border-radius: 10px;
          background-color: transparent;
          color: $text-light;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
          transition: all 0.3s ease;
          z-index: 10;

          &:hover {
            background-color: $text-light;
            color: $primary-dark;
          }
        }

        .contactButton {
          background-color: $accent-mint;
          border: 1px solid $accent-mint;
          color: white;
          z-index: 10;

          &:hover {
            background-color: white;
            color: $accent-mint;
          }
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;

    img {
      height: 110%;
      object-fit: contain;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: $sliding-text;
    width: 50%;
    font-weight: bold;
  }
}
