
$primary-dark: #0f2027;
$secondary-dark: #203a43;
$accent-mint: #00c9a7;
$text-light: #fdfdfd;
$sliding-text: #ffffff0a;

.about {
  height: calc(100vh - 100px); 
  overflow: hidden;
  background: linear-gradient(180deg, $primary-dark, $secondary-dark); 
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 40px;

    .imageContainer {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 80%;
        max-width: 100%;
        object-fit: contain;
        border-radius: 20px;
      }
    }

    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      h2 {
        font-size: 30px;
        color: $accent-mint; 
        letter-spacing: 10px;
      }

      h1 {
        font-size: 70px;
        color: $text-light; 
      }

      p {
        color: #ccc;
        line-height: 1.6;
        font-size: 18px;
      }

      .buttons {
        display: flex;
        gap: 20px;

        button {
          padding: 15px 25px;
          border: 1px solid $text-light;
          border-radius: 10px;
          background-color: transparent;
          color: $text-light;
          cursor: pointer;
          font-weight: 300;
          transition: all 0.3s ease;

          &:hover {
            background-color: $text-light;
            color: $primary-dark;
          }
        }

        .contactButton {
          background-color: $accent-mint;
          border: 1px solid $accent-mint;
          color: white;

          &:hover {
            background-color: white;
            color: $accent-mint;
          }
        }
      }

      .socialLinks {
        margin-top: 20px;
        display: flex;
        gap: 20px;

        a {
          padding: 10px 20px;
          background-color: $accent-mint; 
          color: white;
          text-decoration: none;
          border-radius: 10px;
          font-weight: 500;
          transition: all 0.3s ease;

          &:hover {
            background-color: white;
            color: $accent-mint; // Accent color for hover
            border: 1px solid $accent-mint;
          }
        }
      }
    }

    .slidingTextContainer {
      position: absolute;
      font-size: 50vh;
      bottom: -120px;
      white-space: nowrap;
      color: $sliding-text; // Faded text for sliding effect
      width: 50%;
      font-weight: bold;
    }
  }
}
